<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лабораторная №4</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="/scripts/task-page.js"></script>
    <link rel="stylesheet" href="/styles/background.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/table.css">
    <link rel="stylesheet" href="/styles/titles.css">
</head>
<body>
<div id="background">
    <div id="app">
        <div class="mid">
            <div class="container-big">
                <div class="container-small">
                    <div class="container">
                        <p>Определить, попадает ли точка в заданную область:</p>
                        <div id="task-container"></div>
                    </div>
                </div>
                <div class="container-small">
                    <div class="container">
                        <point-form></point-form>
                    </div>
                </div>
            </div>
            <div class="container">
                <points-table v-bind:points="points"></points-table>
            </div>
        </div>
    </div>
</div>
</body>
</html>